<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}  Krishna Blog | Authors List {% endblock title %}
{% block content %}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">



<!--<div class="container pt-4">-->
            <div class="col-md-12">
                            <div class="section-title text-center mb-5">
                    <h2 >Authors list </h2>
                </div>
<!--    <div class="pt-5 mb-3">-->
<!--    <h4 class="card-header text-center text-dark" id="author-head"><b>Authors list</b></h4>-->
<!--</div>-->
    <div class="row">
        {% if author_list %}
        {% for author in author_list %}
        <div class="col col-12 col-sm-12 col-md-12 col-lg-4 p-3">
            <div class="card m-auto mt-5 mb-5" style="width: 18rem;">
                <h5 class="card-header text-center text-dark pt-3 ">{{author.name|upper}} </h5>
                <img class="card-img-top" {% if author.photo %} src="{{author.photo.url}}" {% else %}
                     src="{% static 'images/default-user.jpg' %}" {% endif %} alt='{{author.name}}' height="250px"
                     width="250px" title="{{author.name}}"/>
                <div class="card-body">
                    <p class="card-text">{{author.name}}
                        <br>{{author.dob}}
                    </p>
                    <a href="{% url 'blog:author' author.slug %}" class="btn btn-primary">More about {{author.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% else %}
<div class="card-body text-center">
    <h6 class="alert alert-warning" ><b><i>This Blog does'not have any authors yet!</i></b></h6>
</div>
<!--    </div>-->
{% endif %}
<br>
{% if author_list %}
    {% include 'blog/pagination.html' %}
{% endif %}
<br>


</div>
</div>
</div>
{% endblock %}