<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">

{% block title %}  Krishna Blog | {{ request.user.username | title }} Posts List {% endblock title %}
{% block content %}


<div class="container pt-5 mt-5">
    <div class="mb-2">
        <h4 class="card-header text-center text-dark">My Posts</h4>
    </div>
    <div class="row pt-3">
        <div class="col-md-2 mb-4">
            {% include 'blog/user-actions.html' %}
        </div>
        <div class="col-md-10 ">
            <div class="container">

                <div class="row">
                    {% if object_list %}
                    <div class="row row-col-md-1">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 ">
                            {% for post in object_list %}
                            <div class="card text-dark mt-4" style="max-width:100%;">
                                <h5 class="card-header pt-3 pl-3 "> Post : <b>{{post.title}}</b></h5>
                                <div class="card-title pl-5 pt-3 mb-0 pb-0" id="p-title">

                                    <div class="post-meta">
                                <span class="d-block">Post Category :  <a
                                        href="#">{{ post.category }}</a></span>
                                        <span class="date-read">{{ post.published_date }}<span
                                                class="mx-1">&bullet;</span>Last update :  {{ post.updated_date| timesince}} <span
                                                class="icon-star2"></span></span>
                                        <span class="date-read">{{ post.updated_date }} </span>
                                    </div>
                                </div>
                                <div class="card-body mb-0 pb-0 pt-2 mt-0" id="p-body">
                                    <div class="row">
                                        <div class="col col-sm-2 col-md-2">

                                            <img class="rounded-circle" {% if post.post_pic %}
                                                 src="{{post.post_pic.url}}"
                                                 {% else %} src="{% static 'images/image-comingsoon.png' %}" {% endif %}
                                                 alt='{{post.name}}'
                                                 width="100px" height="100px" title="{{post.title}}">
                                        </div>
                                        <div class="col col-9 text-justify"> {{post.content|truncatewords:45}}
                                        </div>
                                    </div>
                                    <div class="text-right mr-5 pr-5 mb-4 pt-3">

                                        <a href="{% url 'blog:post' post.slug %}" class="btn btn-info btn-sm mb-1"
                                           id="btn-post">Read
                                            More...</a>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'blog:update-post' post.slug %}" class="btn btn-warning btn-sm mb-1"
                                        >Update Post</a>
                                        <a href="{% url 'blog:delete-post' post.slug %}" class="btn btn-danger btn-sm mb-1"
                                        >Delete Post</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                    {% else %}
                    <div class="card-body text-center">
                        <h4 class="alert alert-warning"><b><i>You have not posted anything yet!</i></b></h4>
                        <a href="{% url 'blog:create-post' %}" class="btn btn-primary btn-md"
                           style="font-size:14px;font-weight:700;letter-spacing:1.5px;">Create a Post</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>
<br>
<!--{% if object_list %}-->
<!--    {% include 'blog/pagination.html' %}-->
<!--{% endif %}-->
<br>
{% endblock %}