<!DOCTYPE html>
{% extends 'blog/base.html' %}
<html lang="en">
{% load static %}

{% block title %} User Login - Krishna Blog {% endblock title %}

{% block content %}

<div class="site-section bg-light ml-auto">

    <div class="row ">
        <div class="container ">

            <div class="section-title ">
                <h3>Account Login</h3>
                <hr>
<!--                {% if messages %}<br>-->
<!--                <div style="font-size:14px;" class="col-md-6 text-center mt-0 pt-0">-->
<!--                    {% for message in messages %}-->
<!--                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>-->
<!--                    <hr>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endif %}-->

            <form method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6   form-group">
                        <label for="username">Name : </label>
                        <input type="text" id="username" name="username" class="form-control form-control"
                               placeholder="Your Name">
                        <hr>

                        <label for="password">Password : </label>
                        <input type="password" id="password" name="password" class="form-control form-control"
                               placeholder="Your Password">

                        <hr>
                        <div class="col-md-12 mt-12 form-group text-center">
                            <input type="submit" value="Login" class="btn btn-primary px-5 py-2">
                        </div>


                        <div class="text-center">
                            <p>Don't have a account?
                                <a href="{% url 'blog:register' %}">
                                    Register </a>
                                <br>

                                Forgot Password?
                                <a href="{% url 'password_reset' %}">Reset
                                    Password</a>


                            </p>
                        </div>
                    </div>
            </form>
        </div>
    </div>

</div>
</div>
{% endblock %}
