<style>
    #pagination{
            background-color : olive;
             font-weight : 900;
        }
    .current{
        color : gold;
    }
    #page{
        color: linen;
    }
    .step-links a:hover{
        background-color : black ;
		padding : 3px;
		margin-left : 10px;
    }
</style>
<div class="text-center p-2 mb-0 pb-0 " id="pagination">
			    <span class="step-links">
			        {% if page_obj.has_previous %}
			            <a href="?page=1" id="page">  <span>&laquo;&laquo;  First</span></a>
			            <a href="?page={{ page_obj.previous_page_number }}" id="page"> &laquo; Previous</a>
			        {% endif %}
			        <span class="current">
			            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			        </span>
			        {% if page_obj.has_next %}
			            <a href="?page={{ page_obj.next_page_number }}" id="page"> Next &raquo;</a>
			            <a href="?page={{ page_obj.paginator.num_pages }}" id="page">Last <span>&raquo;&raquo; </span></a>
			        {% endif %}
			    </span>
</div>