{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}

{% block title %}Krishna Blog - Password reset sent {% endblock %}

{% block content %}

<div class="container" style="color:#fff;letter-spacing:2px;">
    <div class="row m-5">
        <div class="col">
            <h4 class="card-header">Password reset sent</h4>
            <div class="card-body">
                <p>We’ve emailed you instructions for setting your password, if an account exists with the
                    email you entered. You should receive them shortly.</p>

                <p>If you don’t receive an email, please make sure you’ve entered the address you registered
                    with, and check your spam folder.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
