{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}

{% block title %} Krishna Blog | Password reset confirm {% endblock %}

{% block content %}
<div class="site-section bg-light">
    <div class="container ">
        <div class="row ">

            <div class="col-md-12 text-center">
                <div class="section-title text-center mb-3">
                    <h2 >Password Reset Confirm </h2>
                </div>


                {% if validlink %}

                <p> {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <div >
                    <form method="post">{% csrf_token %}
                        <fieldset>
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">{% trans ' New password ' %}</label>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <span style="color:red;">{{ form.new_password1 }}</span>
<br>
<br>
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password </label>

                               : {{ form.new_password2 }}
<br>
<br>
                           <div class="text-center"> <input type="submit" value="{% trans 'Change my password' %}"
                                   class="btn btn-primary btn-md"></div>
                            <hr>
                            <div class="text-left">
                            <h5>Note:</h5>
                                {{ form.new_password1.help_text }}
                                {{ form.new_password2.help_text }}
                                <hr>
                            </div>
                        </fieldset>
                    </form>
                </div>
                {% else %}

                <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please
                    request a new password reset.</p>

                {% endif %}


            </div>


        </div>
    </div>
</div>
{% endblock %}
