{% extends "blog/base.html" %}
{% load i18n static %}

{% block title %}Krishna Blog - Password change successful{% endblock %}


{% block content %}

<h2>gopi</h2>

<div class="container" style="color:#fff;letter-spacing:2px;">
    <div class="row m-5">
        <div class="col">
            <h4 class="card-header"> Password change successful </h4>
            <div class="card-body">

                <p>{% trans 'Your password was changed.' %}</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
