{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}

{% block title %}Krishna Blog - Change Password{% endblock %}

{% block content %}

<div class="container" style="color:#fff;">
    <div class="row m-5">
        <div class="col">
            <h4 class="card-header">Password Change</h4>
            <div class="card-body">
                <div id="content-main">
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        <div>
                            {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                                {% else %}
                                {% trans "Please correct the errors below." %}{% endif %}
                            </p>
                            {% endif %}
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            <p class="card-title">Please enter your old password, for security’s sake, and then enter your new
                                password twice so
                                we can verify you typed it in correctly.</p>


                                <div class="card-body text-center">
                                    {{ form.old_password.errors }}

                                    <label for="id_email">Old Password  </label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    :   {{ form.old_password }}
                                    <br>

                                    {{ form.new_password1.errors }}
<!--                                    {{ form.new_password1.label_tag }}-->
                                    <label for="new_password1">New Password  </label>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                     : {{ form.new_password1 }}

                                    <br>
                                    {{ form.new_password2.errors }}
<!--                                    {{ form.new_password2.label_tag }}-->
                                    <label for="new_password2">Confirm Password  </label>  &nbsp
                                     : {{ form.new_password2 }}


                                </div>

                            <div class="text-center">
                                <input type="submit" name="" value="{% trans 'Change my password' %}" class="btn btn-primary btn-md">
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% if form.new_password1.help_text %}
<div class="help">{{ form.new_password1.help_text|safe }}</div>
{% endif %}
    {% if form.new_password2.help_text %}
                                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                    {% endif %}
</div>

{% endblock %}
