{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}


{% block content %}


<div class="container" style="color:#fff;letter-spacing:2px;">
    <div class="row m-5">
        <div class="col">
            <h4 class="card-header">Password reset</h4>
            <div class="card-body">

                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for
                    setting a new one.</p>

                <form method="post" class="form-group">{% csrf_token %}
                        <div class="form-group">
                            {{ form.email.errors }}
                            <label for="id_email">Email address : </label>
                            &nbsp&nbsp
                            {{ form.email }}
                            &nbsp&nbsp
                             <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary btn-sm">
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
