{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}

{% block title %} Krishna Blog | Password Reset  {% endblock %}
{% block content %}


<div class="site-section bg-light">
    <div class="container ">
        <div class="row ">

            <div class="col-md-12 text-center">
                <div class="section-title text-center mb-3">
                    <h2 >Password Reset </h2>
                </div>

                <p class="mb-3">Forgotten your password? Enter your email address below, and we’ll email instructions for
                    setting a new one.</p>

                <form method="post" class="form-group">{% csrf_token %}
                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="id_email">Email address : </label>
                        &nbsp&nbsp
                        {{ form.email }}
                        &nbsp&nbsp
                        <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary btn-sm">
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}
