{% extends "blog/base.html" %}
{% load i18n %}
{% load i18n static %}

{% block title %} Krishna Blog - Password reset confirm {% endblock %}

{% block content %}

<div class="container" style="color:#fff;letter-spacing:2px;">
    <div class="row m-5">
        <div class="col">
            <h4 class="card-header">Password reset confirm</h4>
            <div class="card-body">
                {% if validlink %}

                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <div style="align-center;">
                    <form method="post">{% csrf_token %}
                        <fieldset>
                            <div class="text-left">
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">{% trans ' New password ' %}</label>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <span style="color:red;">{{ form.new_password1 }}</span>
<br>
<br>
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password </label>

                               : {{ form.new_password2 }}
<br>
<br>
                           <div class="text-center"> <input type="submit" value="{% trans 'Change my password' %}"
                                   class="btn btn-primary btn-md"></div>
                                </div>
                        </fieldset>
                    </form>
                </div>
                {% else %}

                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please
                    request a new password reset." %}</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
