
<h5 class="text-dark">User Actions</h5>
<hr>
<a href="{% url 'blog:user-profile' %}">My Profile </a>
<hr>
<a href="{% url 'blog:user-settings' %}">My Settings </a>
<hr>
<a href="{% url 'blog:my-posts' %}">My Posts </a>
<hr>
<a href="{% url 'blog:create-post' %}">Create a new Post</a>
<hr>

<h5 class="text-dark">Public Actions</h5>
<hr>
<a href="{% url 'blog:posts' %}">Blog Total Posts </a>
<hr>
<a href="{% url 'blog:authors' %}">Blog Total Authors </a>
<hr>
<a href="{% url 'blog:recent-posts' %}">Blog Recent Posts </a>
<hr>
<a href="{% url 'blog:popular-posts' %}">Blog Popular Authors </a>
